*{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    text-shadow: 3px 3px 3px lightgray;
    font-size: 4em;
    text-align: center;
    padding: 1em;
}

.header2{
    font-size: 3em;
    text-align: center;
}

body{
    background-color: black;
}

p{
    color:  gray;
    text-shadow: 3px 3px 3px lightgray;
    font-size: 2em;
    text-align: left;
    border: 2px dotted white;
    border-radius: 10px;
    margin: 20px;
}

.text2{
    color: #000;
    text-shadow: 3px 3px 3px #808080;
    font-size: 2.5em;
    text-align: center;
    border: 2px dotted white;
    border-radius: 10px;
    width: 10em;
    margin: auto;
    box-shadow: 3px 3px 3px red;
    background-color: red;
}
img{
    margin-left: 37.5%;
    margin-top: 20px;
    
}

div{
    color: #fff;
    text-align: center ; 
    font-size: 0.5em;
    position: fixed;
    bottom: 0;
    height: 7em;
}

.text3{
    border: 2px solid #808080;
    border-radius: 25%;
    width: 10em;
    padding: 5px;
    background-color: #f00;
    margin: 20px;
}

.text4{
    color: #fff;
    text-align: center;
    margin-right: 100%;
    font-size: 2.5em;
    top: 0;
    background-color: #000;
    margin-left: 20px;
    margin-top: 20px;
}